{% extends '@TwinElementsAdmin/core/details_with_sidebar.html.twig' %}
{% set back_button_link = path('post_index') %}

{% block title %}
    {% if entity.title %}
        {{ entity.title }}
    {% else %}
        {{ entity.translate(default_locale, false).title }}<br>
        <span class="badge badge-warning small">{{ "cms.no_translation_for_this_locale"|trans({},null,admin_locale) }}</span>
    {% endif %}
{% endblock %}

{% block buttons %}
    {{ block('back_button') }}
{% endblock %}

{% block right_sidebar %}
    {{ block('changes_details') }}

    {{ block('delete_form') }}
    {% if entity.image %}
        {% set file_path = entity.image %}
        {% set section_title = "post.image"|translate_admin %}
        {{ block('single_image_preview_template') }}
    {% endif %}

    {% if entity.thumbnail %}
        {% set file_path = entity.thumbnail %}
        {% set section_title = "post.thumbnail"|translate_admin %}
        {{ block('single_image_preview_template') }}
    {% endif %}
{% endblock %}
