{% extends '@TwinElementsAdmin/core/details_with_sidebar.html.twig' %}
{% set back_button_link = path('post_index', {'category': entity.parent.id}) %}

{% block title %}
    {% if entity.title %}
        {{ entity.title }}
    {% else %}
        {{ entity.translate(default_locale, false).title }}<br>
        {{ block("title_no_translation_badge") }}
    {% endif %}
{% endblock %}

{% block buttons %}
    {{ block('back_button') }}
{% endblock %}

{% block right_sidebar %}

    {% if preview_url %}
        <a href="{{ preview_url }}" class="btn btn-primary" target="_blank">{{ "post.see_post"|translate_admin }}</a>
    {% endif %}

    {{ block('changes_details') }}

    {{ block('delete_form') }}
    {% if entity.image %}
        {% set file_path = entity.image %}
        {% set section_title = "post.image"|translate_admin %}
        {{ block('single_image_preview_template') }}
    {% endif %}

    {% if entity.thumbnail %}
        {% set file_path = entity.thumbnail %}
        {% set section_title = "post.thumbnail"|translate_admin %}
        {{ block('single_image_preview_template') }}
    {% endif %}
{% endblock %}
